github "ReactiveX/RxSwift" ~> 3.0
github "RxSwiftCommunity/RxDataSources" ~> 1.0
github "RxSwiftCommunity/NSObject-Rx" ~> 2.0.0
github "RxSwiftCommunity/Action" ~> 2.3.0
github "johnsundell/unbox"
github "RxSwiftCommunity/RxRealm"
github "realm/realm-cocoa"
